# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
local_settings.py
media
staticfiles

# Virtualenv
venv/
ENV/
env/
.venv/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# dotenv
.env

# Coverage reports
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json

# Ruff / Flake8 / Linting
*.lint